p{
  font-family: 'Playfair Display', serif;
  color: white;

}

.images .filmstrip{
  height: 100%;
  width: 100%;
  white-space: nowrap;
  position: relative;
  left: 0;
  top: 0;
  transition: left 2s;
}
.images .filmstrip div{
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  background-color: white;
  border-color: black;
}
.images img{
  max-width: 100%;
  height: 100%;
}
.contacts img{
  width: 100px;
  height: 100px;
  }

  /*.buttonGH{
  background-color: #000;
  border-color: black;
}

.buttonLI{
  background-color: #00a4f4;
  border-color: #00a4f4;
}

.buttonFB{
  background-color: #2656ba;
  border-color: blue;
}*/
